<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>

    <style>
        .container {
            width: 100%;
            margin-top: 50px;
            text-align: center;
        }

        .container h1 {
            margin-bottom: 30px;
        }
    </style>
</head>
<body>
<div th:replace="fragments/navbar :: menu"></div>

<div class="container">
    <h1 th:text="#{all.blogs.title}">All my Blogs</h1>
    <div th:replace="fragments/buttons :: adminButton (url='/public/post/post-form', text='Create new blog')"></div>
    <th:block th:if="${not postsPage.empty}">
        <table class="table">
            <tr>
                <th th:text="#{table.title}">Title</th>
                <th th:text="#{table.created.on}">Created on</th>
                <th th:text="#{table.updated.on}">Updated on</th>
                <th th:text="#{table.author}">Author</th>
                <th sec:authorize="hasRole('ADMIN')">Edit</th>
                <th sec:authorize="hasRole('ADMIN')">Delete</th>
            </tr>
            <tr th:each="post : ${postsPage}">
                <td>
                    <a th:href="@{/public/post/{id}(id=${post.id})}">
                        <p th:text="${post.title}"></p>
                    </a>
                </td>
                <td th:text="${#temporals.format(post.createdOn,'yyyy-MM-dd HH:mm')}"/>
                <td th:text="${post.createdOn.equals(post.updatedOn)} ? '' : ${#temporals.format(post.updatedOn,'yyyy-MM-dd HH:mm')}"/>
                <td th:text="${post.username}"/>
                <td>
                    <a sec:authorize="hasRole('ADMIN')" th:href="@{'/public/post/edit/' + ${post.id}}">
<!--                        th:href="@{/public/post/edit/{id}(id=${post.id})}"-->
                        <button class="btn btn-bg bg-secondary text-white" th:text="#{table.edit}">Edit
                        </button>
                    </a>
                </td>
                <td>
                    <a sec:authorize="hasRole('ADMIN')" th:method="delete" th:href="@{/public/post/delete/{id}(id=${post.id})}">
                        <button class="btn btn-danger" th:text="#{table.delete}">Delete
                        </button>
                    </a>
                </td>
            </tr>
        </table>
        <div th:include="fragments/pagination :: pagination" th:object="${postsPage}"></div>
    </th:block>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>