<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <title>Registration</title>
</head>
<body>
<div th:replace="fragments/navbar :: menu"></div>
<h2 th:text="#{label.form.title}" class="text-center">form</h2>
<form th:action="@{/public/user}" method="post" th:object="${user}">
    <div class="form-row d-flex justify-content-center" >
        <div class="form-group col-md-6">
            <label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                   class="alert alert-danger"></label>
            <input type="text" th:field="*{firstName}" placeholder="Name" class="form-control"/>
        </div>

        <div class="form-group col-md-6">
            <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="alert alert-danger"></label>
            <input type="text" th:field="*{lastName}" placeholder="Last Name" class="form-control"/>
        </div>

        <div class="form-group col-md-6">
            <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="alert alert-danger"></label>
            <input type="text" th:field="*{username}" placeholder="Username" class="form-control"/>
        </div>

        <div class="form-group col-md-6">
            <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="alert alert-danger"></label>
            <input type="password" th:field="*{password}" placeholder="Password" class="form-control"/>
        </div>

        <div class="form-group col-md-12">
            <label th:if="${#fields.hasErrors('avatar')}" th:errors="*{avatar}" class="alert alert-danger"></label>
            <input type="text" th:field="*{avatar}" placeholder="Avatar URL" class="form-control"/>
        </div>
        <div>
            <input type="submit" class="btn btn-primary" value="Submit"/>
        </div>
        </div>

</form>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>