<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- Position relative footer-->
<footer th:fragment="footerRelative" class="footer mt-auto py-3" style="position: relative; bottom: 0">
    <div class="footerWrap">
        <div class="footer">
            <div class="footerContent">
                <span class="text-muted">Blog application for Code Academy. All rights reserved.</span>
            </div>
        </div>
    </div>
</footer>